<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                    <a class="navbar-item <%= path === '/' ? 'is-active' : '' %>" href="/">
                        <i class="mdi mdi-24px mdi-cart"></i>Task List
                    </a>
                <a class="navbar-item <%= path === 'add-product' ? 'is-active' : '' %>" href="add-product">
                    <i class="mdi mdi-24px mdi-tag-plus"></i>Add task
                </a>
            </div>
        </div>
    </div>
</nav>